.title_info{
  margin: 60px 0 0 0;
}

.title_info h2{
  font-size: 42px;
  font-weight: 450;
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
  color: #333;
}
.brandimg_box{
  display: flex;
  justify-content: center;
}
.brand_top_img{
  max-width: 1920px;
  width: 100%;
  margin-bottom: 48px;
}

.brand_textbox{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 180px;
   letter-spacing:-1px;
 
}
.brand_textbox h3{
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 500;
  color: #333;
}
.brand_textbox h4{
  font-size: 17px;
  margin-bottom: 25px;
  font-weight: 450;
  color: #175436;
}

.brand_textbox p{
  font-weight: 350;
  font-size: 16px;
  line-height: 1.65;
  margin-bottom: 15px;
  color: #666666;
}

@media (max-width: 1300px) {
  .title_info{
    margin-top: 30px;
  }
  .title_info h2{
    font-size: 30px;
      margin-bottom: 0px;
  }
.brand_top_img{
  padding: 0 10px;
  margin-bottom: 20px;
}
.brand_textbox{
  max-width: 1300px;
  padding: 0 10px;
margin-bottom: 80px
}
.brand_textbox h3{
font-size: 18px;
}
.brand_textbox h4{
  font-size: 14px;
}
.brand_textbox p{
  font-size: 14px;
  margin-bottom: 0;
    line-height: 1.5;
};
}
@media (max-width: 750px) {
  .brand_top_img{
  max-width: 750px;
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover; 
}
}
