.main_img_swiper{
  position: relative;
  z-index: 0;
  margin-bottom: 90px;
  width: 100%;
  overflow: hidden;
}
.main_img_swiper img {
  width: 100%;
  max-width: 1750px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.swiper-pagination {
  bottom: 100px !important;
}
.swiper-pagination-bullet {
  width: 11px !important;
  height: 11px !important;
  background-color: #dddddd !important;
  margin: 0 5px !important;
  transition: all 0.3s !important;
  opacity: 1!important;
}
.swiper-pagination-bullet-active {
  width: 32px !important;
  border-radius: 5px !important;
  background-color: #ffd040 !important;
}
.youtube{
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}
.instagram{
  margin-bottom: 90px;
}

.insta_img{
  width: min(1200px, 100%);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}
.insta_img img{
  width: 100%;
  aspect-ratio: 4 / 5;
  object-fit: cover;
}

.instagram h3{
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight: 500;
  color: #333333;
}
.instagram h3 span{
  color: #226140;
}

.youtube_wrap {
  width: 100%;
  max-width: 1150px;
  aspect-ratio: 16 / 9;
}
.youtube_wrap iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

/* 반응형 1300px */
@media (max-width: 1300px) {
  .youtube {
    padding: 0 40px;
  }
  .instagram{
  margin-bottom: 0px;
}
  .instagram h3{
  font-size: 20px;
}
  .insta_img {
    width: 100%;
    padding: 0 40px;
  }
}

/* 반응형 750px */
@media (max-width: 750px) {
.main_img_swiper{
  max-width: 750px;
  width: 100%;
 aspect-ratio: 1 / 1
}
.slideimg img{
  max-width: 750px;
  width: 100%;
 aspect-ratio: 1 / 1;
  object-fit: cover;
}
  .main_img_swiper {
    margin-bottom: 40px;
  }
  .swiper-pagination {
    bottom: 14px !important;
  }
  .youtube {
    margin-bottom: 40px;
    padding: 0px;
  }
  
  .instagram {
    margin-bottom: 40px;
  }
  .instagram h3{
  margin-bottom: 10px;
  font-size: 18px;
}
  .insta_img {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    padding: 0 12px;
  }
}
