.banner_box {
  display: grid;
  gap: 16px;
}
.banner_box div .banner_text {
  text-align: center;
  display: grid;
}
.banner_text h3 {
  font-size: 44px;
  margin-bottom: 20px;
  color: #fff;
}
.banner_text p {
  font-size: 20px;
  color: #fff;
}
.banner1,
.banner2,
.banner3 {
  max-width: 1920px;
  width: 100%;
  height: 500px;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner1 {
  background-image: url(/nutrition/banner1.png);
}
.banner2 {
  background-image: url(/nutrition/banner2.png);
}
.banner3 {
  background-image: url(/nutrition/banner3.png);
}
.guide {
  margin-bottom: 100px;
}
.guide_line {
  max-width: 1300px;
  width: 100%;
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 0 auto;
}

.guide_box {
  border: 1px solid #ddd;
  padding: 60px 16px;
  display: grid;
  place-items: center;
  gap: 12px;
}
.guide_box img {
  margin-bottom: 12px;
}

.guide_box h4 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #333;
}

.guide_box p {
  font-size: 16px;
  color: #666;
  letter-spacing: -0.1rem;
  text-align: center;
}
.nut_btn {
  width: 136px;
  height: 36px;
  color: #fff;
  background-color: #175436;
  border-radius: 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1300px) {
  .banner1,
.banner2,
.banner3 {
  height: 400px;}

    .banner_text h3 {
    font-size: 32px;
  }
  .banner_text p {
    font-size: 18px;
  }
    .guide_box h4 {
    font-size: 20px;
  }
  .guide_box p {
    font-size: 14px;
  }
}
@media (max-width: 750px) {
  .banner1,
.banner2,
.banner3 {
  height: 200px;}

  .banner_text h3 {
    font-size: 28px;
  }
  .banner_text p {
    font-size: 14px;
  }
  .guide_line {
    grid-template-columns: repeat(1, 1fr);
  }
  .guide_box h4 {
    font-size: 18px;
  }
  .guide_box p {
    font-size: 13px;
  }
}
